<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
<form class="form-horizontal" novalidate [formGroup]="myForm" (ngSubmit)="addit()">
  <div class="form-group">
<label class="control-label col-sm-3"  for="firstname" >Business User First Name :</label>
<div class="col-sm-3">
<input type="text" class="form-control" formControlName="firstname" placeholder="First Name" required><br>
  </div>
  </div>
  <div class="form-group">
<label class="control-label col-sm-3"  for="lastname" >Business User Last Name :</label>
<div class="col-sm-3">
<input type="text" class="form-control"  formControlName="lastname" placeholder="Last Name" required><br>
</div>
</div>
<div class="form-group">
<label  class="control-label col-sm-3" for="id" >Business User ID :</label>
<div class="col-sm-3">
<input type="text" class="form-control"  formControlName="id" placeholder="ID" required><br>
</div>
</div>
<div class="form-group">
<label  class="control-label col-sm-3" for="Mail" >Email Address :</label>
<div class="col-sm-3">
<input type="email" class="form-control" formControlName="email" placeholder="Email Address" required email><br>
</div>
</div>
<div class="form-group">
<label   class="control-label col-sm-3" for="role">Business User Role:</label>
<div class="col-sm-3">
      <select class="form-control" formControlName="opti123" >
        <option>Maker</option>
        <option>Checker</option>
      </select><br>
</div>
</div>
<div class="form-group">
    <label   class="control-label col-sm-3" for="role"></label>
    <div class="col-sm-3">
  <input type="text" class="form-control" placeholder="Business Unit" required>
  </div>
  <div class="col-sm-3">
  <button type="button" class="form-control" class="btn btn-default">Search Business Unit</button>
  </div>
  </div>
  <div class="form-group">  
  <label  class="control-label col-sm-3" for="unit">Business Unit :</label>
 <div class="ex3">
    <a *ngIf="!one" (click)="modify('PSCL')">PSCL</a><br>
    <a *ngIf="!two"   (click)="modify('26BU')">26BU</a><br>
    <a *ngIf="!three"  (click)="modify('30BU')">30BU</a><br>
    <a *ngIf="!four"   (click)="modify('GUNTUR123')">GUNTUR123</a><br>
    <a *ngIf="!five"  (click)="modify('SWETHA')">SWETHA</a><br>
  </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
  <label for="dunit">Default Business Unit :</label>
  <input type="text" class="form-control" style="width: 50%;float: right;;" formControlName="dbu"  required><br>
  <div class="btn-group"> 
  <button  class="btn btn-primary" type="button" (click)="adding1()">Add</button><button  class="btn btn-primary" type="button"
   (click)="remove1()">Remove</button>
    </div>
    </div>
    <div class="col-sm-6">
  <label style="float: left;" for="dunit">Associate Business Unit :</label>
  <textarea class="form-control"  style="width:50%;float: right;" id="fasak" formControlName="abu"  required></textarea>
  <div>
  <div class="btn-group"> 
  <button  class="btn btn-primary" type="button" (click)="adding2()">Add</button><button  class="btn btn-primary" type="button"
  (click)="remove2()">Remove</button>
 </div> 
  </div><br><br>
  </div>
  </div>
  <div class="form-group">
  <label  class="control-label col-sm-3"  for="unit">Business User Access Rights :</label>
 <div class="ex3">
    <a (click)="modify1('UserAdmin')">UserAdmin</a><br>
    <a (click)="modify1('RulesetAdmin')">RulesetAdmin</a><br>
    <a (click)="modify1('SiteAdmin')">SideAdmin</a><br>
    <a (click)="modify1('GUIAcess')">GUIAcess</a><br>
    <a (click)="modify1('GUIDeny')">GUIDeny</a><br>
 </div>
  </div><br>
  <label>Selected Business User Access Rights</label><span>:{{access}}</span>
 
  <br><br>
  <div  style="text-align: center">
      <div class="btn-group">      
      <button  class="btn btn-primary" type="submit" *ngIf="myForm.valid">save</button>&nbsp;
        <button  class="btn btn-primary" type="button" (click)="goback()" >cancel</button>
        </div>
        </div>     
 </form>
 </div>
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2"></div>
 </div>
 </div>
 